*{
    box-sizing: border-box;
    margin:0%;
    padding: 0%;
}

.contenedor{
    background-color: black;
    display: flex;
    flex-direction: row;
    @media (max-width: 700px ){
        display:block;
        flex-direction: column;
    }
}

.caja{
    width: 30%;
    height: 20%;
    border: 2px solid orange;
    background-color:pink;
    float: left;
    @media (max-width: 700px ){
        width: 100%;
        border: 2px solid pink;
        background-color: red;
    }
}